.page{
	width:100%;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	text-align: center;
}

.icon,h1{
	font-size:80px;
}

h1{
	font-family: 'Alata', sans-serif
}

p{
	font-size:20px;
	letter-spacing: 2px;
}